doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title An introduction to Web Components

        link(rel='stylesheet', type='text/css', href='css/app.css')

    body

        article

            section(data-bespoke-state='title')
                h1 Web Components Overview
                h2 Surender Katikaneni
                h3 Developer - Climate Blue Team & Precision Planting Field View

            section
                h1.bullet what are web components ?
                h3.bullet a little history before diving in...

            section
                h1.bullet Web 1.0
                ul
                    li Simple documents
                    li Homepages
                    li Animated GIFs!
                    li View source
                    li Java Applets

            section
                h1.bullet Web 1.5
                ul
                    li Passable CSS
                        span.bullet : Underlined text!, Link colors!, Border types!
                    li Passable JavaScript
                        span.bullet : Drop down menus!, Pop ups!, animations

            section
                h1.bullet Web 2.0
                ul
                    li DHTML
                    li XMLHttpRequest &rarr; AJAX
                    li JSON, JSONP
                    li APIs
                    li Mash ups, Rich UIs
                    li Widgets!
                    li Date pickers! Color pickers!
                    li JS frameworks and libraries
                        span.bullet : Prototype, jQuery, Dojo, yUI

            section
                h1.bullet Tons of jQuery plug-ins!
                h2.bullet MASSIVE ecosystem, Awesome!
                ul
                    li easy to add features to a project
                    li there's a plug-in for everything
                    li "designers can code"
                    li code reuse
                    li many different vendors
                    li but...

            section
                h1.bullet Maintenance pain
                ul
                    li Side effects
                    li globals / css bleeding all over the page
                    li bloated code
                    li various coding "standards"
                        span.bullet  (or lack of them)
                    li incompatible plugins
                        span.bullet  (often need to more than one library)
                    li performance isssues
                        span.bullet : life cycle not in sync with page render

            section
                h1 Also, cumbersome code
                pre.bullet
                    code.language-markup.
                        &lt;div class="widget calendar ui theme-winter"&gt;
                          &lt;div class="component-wrapper"&gt;
                            &lt;div class="inner-content"&gt;
                              foo
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;

            section
                pre.bullet
                    code.language-javascript.
                        var componentWrapper
                          = document.createElement('div');
                        var innerContent
                          = document.createElement('div');
                        componentWrapper.appendChild(innerContent);
                        // ...
                        return componentWrapper;

                        // ...
                        calendarEl.appendChild(componentWrapper);

            section
                pre.bullet
                    code.language-javascript.
                        $("#datepicker")
                          .datepicker($.datepicker.regional["fr"]);
                        $("#locale").change(function() {
                          $("#datepicker").datepicker("option",
                            $.datepicker.regional[ $(this).val() ] );
                        });

            section
                h1.bullet Web Components to rescue
                h2.bullet by making it easier to build modular, more encapsulated code

            section
                h1.bullet what are Web Components?
                h2.bullet are a collection of standards which enable truly encapsulated and reusable components for the web
                h2.bullet and is comprised of four parts:
                ul
                    li Custom elements
                    li HTML templates
                    li Shadow DOM
                    li HTML imports

            section
                h2.bullet A simple example:
                pre.bullet
                    code.language-markup.
                        &lt;x-calendar&gt;&lt;/x-calendar&gt;
                pre.bullet
                    code.language-javascript.
                        // create a new element
                        var calendar = document.createElement('x-calendar');
                pre.bullet
                    code.language-javascript.
                        //access custom methods
                        calendar.nextMonth();
                        calendar.setLocale('fr');

            section
                h1.bullet Each instance of these new elements...
                ul
                    li is a DOM element
                    li Deals with building its DOM tree
                    li Behaves like any other DOM element
                    li Lives in the DOM tree with other elements
                    li Can be accessed and manipulated with DOM methods or jQuery like libraries...
                    li Is also a JavaScript object
                    li ... so it can have custom methods to interact with the component!



            section
                h1.bullet 1. Custom elements
                h2.bullet Define new HTML/DOM elements
                h2.bullet Create elements that extend from other elements
                h2.bullet Logically bundle custom features into a single tag

            section
                h1.bullet Defining a Custom Element
                pre.bullet
                    code.language-javascript.
                        var proto = Object.create(HTMLElement.prototype);
                          proto.createdCallback = function() {
                            this.addEventListener(&apos;click&apos;, function(e) {
                               console.log(&apos;Foo!&apos;);
                            });
                          };
                          proto.attachedCallback = function() {...};
                          var XFoo = document.registerElement(&apos;x-foo&apos;, {prototype: proto});

            section
                h2.bullet Instantiating a Custom Element
                h3.bullet Markup...
                pre.bullet
                    code.language-markup.
                        &lt;x-foo&gt;&lt;/x-foo&gt;
                h3.bullet JavaScript...
                pre.bullet
                    code.language-javascript.
                        var xFoo = new XFoo();
                        document.body.appendChild(xFoo);

            section(data-bespoke-state='feature')
                h1 Life cycle methods
                img(src='images/life-cycle-methods.png')

            section
                h1.bullet 2. HTML Templates
                h2.bullet "Inert HTML chunks"
                h3.bullet not live until you say so

                pre.bullet
                    code.language-markup.
                        &lt;template id="row-template"&gt;
                          &lt;tr&gt;
                            &lt;td&gt;&lt;input .../&gt;&lt;/td&gt;
                            &lt;td&gt;&lt;button .../&gt;&lt;/td&gt;
                          &lt;/tr&gt;
                        &lt;/template&gt;

            section
                h1.bullet 3. Shadow DOM
                h2.bullet Or: you can see, but not touch this!
                pre.bullet
                    code.language-javascript.
                        var shadow = node.createShadowRoot();
                        shadow.appendChild(otherNodes);

            section(data-bespoke-state='feature')
                h2 Shadow DOM in context
                img(src='images/shadowroots.png')

            section
                h1 Shadow DOM:
                h2.bullet Tricky yet powerful
                ul
                    li Creates a boundary around your element
                    li Superuseful for things such as players, calendars
                    li It is still in the same doc context (not an iframe)
                    li <a href="http://www.html5rocks.com/en/tutorials/webcomponents/shadowdom/">Nice tutorial</a>

            section
                h1.bullet 4. HTML imports
                h2.bullet Include HTML documents in other HTML documents
                h3.bullet or: "require() for the web"
                h2.bullet Why another style of import?
                ul
                    li JS: script src
                    li CSS: link rel="stylesheet"
                    li image: img, audio has <audio>, video has <video>
                    li what about HTML which is the cream of web?
                pre.bullet
                    code.language-markup.
                        // Importing Custom Elements
                        link(rel='import', href='./x-foo.html')
                h2.bullet Multiple imports to the same resource are automatically de-duped by the browser and are retrieved only once.


            section(data-bespoke-state='feature')
                h1 Browser Compatablity - Native support
                img(src='images/browser-support.png')

            section
                h2.bullet Not supported on every browser
                h3.bullet but... <span class="bullet">polyfills!</a>
                h2.bullet <a href="https://github.com/WebComponents/webcomponentsjs"><tt>webcomponents.js</tt></a>
                h3.bullet Custom Elements are pretty safe to use right now!


            section(data-bespoke-state='feature')
                h1 Browser Compatablity - with pollyfills
                img(src='images/polyfills-browser-support.png')

            section
                h2.bullet A note of warning
                h1.bullet Polyfills are NOT FREE
                ul
                    li They come at a cost (bandwidth, processing)
                    li Especially Shadow DOM polyfill!

            section
                h1.bullet What are Polymer, X-Tag, skateJS?
                h2.bullet Syntactic sugar for vanilla web components
                ul
                    li Built on top of the Web Components pillars
                    li ... or on the polyfills
                    li <strong>Not</strong> shipped with the browser!

            section
                h1.bullet X-Tag example
                pre
                    code.language-javascript.
                        xtag.register('web-bell', {
                          extends: 'div',
                          lifecycle: {
                            created: function() {
                              this.innerHTML = 'BELL';
                            }
                          }
                        });

            section
                h1.bullet Declarative polymer example
                pre
                    code.language-markup.
                        &lt;polymer-element name="web-bell" extends="div"&gt;
                          &lt;template&gt;
                            BELL
                          &lt;/template&gt;
                          &lt;script&gt;
                            Polymer();
                          &lt;/script&gt;
                        &lt;/polymer-element&gt;

            section
                h1.bullet Imperative Polymer example
                pre
                    code.language-javascript.
                        Polymer('web-bell', {
                          extends: 'div',
                          created: function() {
                            this.innerHTML = 'BELL';
                          }
                        });

            section
                h3 for more info
                h1 <a href="http://webcomponents.org/">webcomponents.org</a>
                h2 is a good starting point!


            section(data-bespoke-state='title')
                h1 Thanks!
                h2 <a href="./examples">Demo</a>


        script(src='js/app.js')
